body {
	background-color: LightGray;
	font-family: sans-serif;
}

div {
	border: 1px solid Chocolate;
}

.nav-bar {
	display: inline-block;
} 

.logo {
	margin-left: auto;
}

#nav {
	margin-right: auto;
}

#nav > li {
	display: inline-block;
	padding-right: 2em;
}

a:link, 
a:visited {
	text-decoration: none;
	color: black;
}