/* global formatting stuff */
html {
	/* This property helps fix the box resizing */
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: White;
	font-family: 'Roboto', sans-serif;
}
div {
	border: 1px solid Chocolate;
}
a:link, a:visited {
	text-decoration: none;
	color: #838994;
}
a:active {
	color: #4c5058;
}

/* nav bar */
.top-navigation {
	color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: white;
	border-bottom: 1px solid LightGray;
} 
.top-navigation > .content,
.introduction > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 1.25em;
	font-family: 'Roboto', sans-serif;
}
.top-navigation .links {
	margin-top: 25px;
	float: right;
	/* Font Declarations */
	font-size: 1.05em;
	color: #838994;
	letter-spacing: 0.02em;
	/* This should help make the font a bit easier on the eyes */
	-webkit-font-smoothing: antialiasing;
}
.top-navigation .links > #active {
	color: #4c5058;
	font-weight: 500;
}
.logo {
	margin-top: 16px;
	float: left;
}
.top-navigation .links li {
	/* Layout */
	display: inline-block;
	margin-left: 1.5em;
}
.top-nagivation .links li:hover {
	cursor: pointer;
	color: #333333;
}

/* masthead */
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 665px;
	text-align: center;
	overflow: auto;
}
.introduction .content {
	color: white;
}
.introduction .content h1 {
	margin-top: 12.5rem;
	font-size: 3.2rem;
}
.introduction .content h3 {
	margin-top: -1.25rem;
	font-size: 1.563rem;
}
.introduction .content h1,
.introduction .content h3 {
	font-weight: 300;
	letter-spacing: -0.01em;
}
.big-button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 16px 16px;
	line-height: 1.33;
	font-size: 1.125rem;
	width: 9.688rem;
	background-color: #f15a29;
}
.big-button:hover {
	cursor: pointer;
}

/* icons */
.device-wrap {
	/* declare element as flex container */
	display: -webkit-box; 	 
	display: -moz-box; 		 
	display: -ms-flexbox; 	 
	display: -webkit-flex;	 
	display: flex;
	 /* layout */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.cases .content {
	margin-top: 7.875rem;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.cases .devices {
	width: 33.3333333%;
	/* styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 127px;
}
.cases {
	text-align: center;
}
.cases h2, .cases h3 {
	margin: 1.625rem 0 3.125rem;
	font-weight: 400;
}

/* footer */
.social {
	margin-top: 12.7em;
	text-align: center;
}
.social .content {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.social .icons {
	padding-left: 0;
}
.social .icons li {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
}
.social i {
	padding-top: 10px;
}