html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: LightGray;
	font-family: sans-serif;
}
div {
	border: 1px solid Chocolate;
}
.top-navigation {
	color: #fff;
} 

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
}

.logo {
	margin-top: 16px;
	float: left;
}

.links > li {
	/* Layout */

	display: inline-block;
	/* Font Declarations */
	color: black;
}

a:link, 
a:visited {
	text-decoration: none;
	color: black;
}